<h1>MapAddr</h1>

<div>
  <h3><%= link_to 'Groups' %></h3>
  <%= form_for @group do |f| %>
    <%= f.text_field :name, placeholder: 'Name' %><br>
    <%= f.text_field :description, placeholder: 'Description' %><br>
    <%= f.submit 'Add Group' %>
  <% end %>
</div>

  <br>

<% @groups.each do |g| %>
<div>
  <h3><%= g.name %></h3>
  <p><em><%= g.description %></em></p>
  <%= link_to 'Edit', edit_path(g) %>
  <br><br>
</div>
<% end %>
