<h1>MapAddr</h1>

<div>
  <h3><%= link_to 'Groups' %></h3>
  <%= render 'f.group' %>
</div>

  <br>

<% @groups.each do |g| %>
<div class="group">

    <hr>

  <h3><%= g.name %></h3>
  <p><em><%= g.description %></em></p>
  <%= link_to 'Edit', group_path(g) %>

    <br><br>

  <ul class="locations">
  <% @locations.each do |l| %>
    <li>
      <h4><%= l.name %></h4>
      <%= l.address %>
        <br>
      <em><%= l.description %></em>
    </li>
  <% end %>
  </ul>

    <br>

</div>
<% end %>
