<div class="row">
<div class="dashboard col-md-3">
  <br>
  <!-- Display Groups List -->
  <div class="panel-group" id="accordion">
    <% @groups.sort_by{ |alpha| alpha.name.downcase }.each do |g| %>

      <!-- Display Group -->
      <div class="panel panel-default">

        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#<%= g.id %>">
              <h3><%= g.name %></h3>
              <h4><em><%= g.description %></em></h4>
            </a>
          </h4>
          <%= link_to 'Edit', edit_group_path(g) %> /
          <%= link_to 'Delete', g, method: :delete, data: { confirm: "Permanently delete #{g.name}?" } %>
        </div>

        <!-- Display Locations -->
        <div id="<%= g.id %>" class="panel-collapse collapse out">
          <div class="panel-body">

            <!-- Add Group Location Form -->
            <h4>Locations +</h4>
            <%= form_for [g, @location] do |f| %>
              <%= f.text_field :name, placeholder: 'Name' %><br>
              <%= f.text_field :address, placeholder: 'Address', :'data-ng-model' => 'geoLoc' %><br>
              <%= f.text_field :description, placeholder: 'Description' %><br>
                <br>

                <button type="button" data-ng-click="currentLocation()">CL</button>

              <%= f.submit 'Add' %>
            <% end %>

            <!-- Display Group Locations -->
            <ul>
              <% g.locations.sort_by{ |alpha| alpha.name.downcase }.each do |l| %>
                <li>
                  <section class="location" data-ng-click="codeAddress('<%= l.address %>')">
                    <h4><%= l.name %></h4>
                    <p><em><%= l.description %></em></p>
                  </section>
                  <%= link_to 'Edit', edit_location_path(l) %> /
                  <%= link_to 'Delete', l, method: :delete, data: { confirm: "Permanently delete #{l.name}?" } %>
                </li>
              <% end %>
            </ul>

          </div> <!-- end panel-body -->
        </div> <!-- end panel-collapse -->
      </div> <!-- end panel -->
    <% end %>
  </div> <!-- end panel-group -->

  <!-- Add Group Form -->
  <div>
    <h3>Groups +</h3>
    <%= render 'partials/f.group' %>
  </div>

</div> <!-- end dashboard-->

<!-- Map -->
<div class="map col-md-9 col-md-offset-3">
  <div id="map-canvas"></div>
</div>

</div> <!-- end row -->

<!-- Alert Errors -->
<% if @group.errors.any? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4>Oops, made a wrong turn!</h4>
    <% @group.errors.full_messages.each do |msg| %>
      <p><%= msg %> for group</p>
    <% end %>
  </div>
<% end %>

<% if @location.errors.any? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4>Oops, made a wrong turn!</h4>
    <% @location.errors.full_messages.each do |msg| %>
      <p><%= msg %> for location</p>
    <% end %>
  </div>
<% end %>
