<!-- Welcome Background -->
<div class="welcome">

  <!-- Sign Up -->
  <section class="sign-up">
  
    <h1>MapAddr</h1>
    <p>Group and share your locations.</p>
    <%= form_for @user, html: { role: 'form' } do |f| %>
      <div class="form-group">
        <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
        <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
        <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control' %>
      </div>
      <%= f.submit 'SIGN UP', class: 'btn btn-default' %>
    <% end %>

    <!-- Login -->
    <div class="login-link">
      <p>Already have an account?</p>
      <p><a data-toggle="modal" data-target="#login">Log In</a></p>
    </div>

  </section>

</div>
