<!-- Login (Modal) -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Welcome Background -->
<div class="welcome">

  <!-- Sign Up -->
  <div class="row">
    <div class="col-md-12">

      <section class="sign-up">
        <h1>MapAddr</h1>
        <p>Group and share your locations.</p>
        <%= form_for @user, html: { role: 'form' } do |f| %>
          <div class="form-group">
            <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
            <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
            <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
            <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control' %>
          </div>
          <%= f.submit 'SIGN UP', class: 'btn btn-default' %>
        <% end %>
        <div class="login-link">
          <p>Already have an account?</p>
          <p><a data-toggle="modal" data-target="#myModal">Login</a></p>

            <br>
            
          <!-- Delete after testing -->
          <%= link_to 'Login', login_path %>
        </div>
      </section>

    </div>
  </div>

</div>
