  <h4>Locations +</h4>
  <%= form_for [@group, @location] do |f| %>
    <%= f.text_field :name, placeholder: 'Name' %><br>
    <%= f.text_field :address, placeholder: 'Address' %><br>
    <%= f.text_field :description, placeholder: 'Description' %><br>
      <br>
    <%= f.submit 'Add' %>
  <% end %>

    <br>

  <%= link_to 'Delete', group_location_path(@group, @location), method: :delete, data: { confirm: 'Are you sure you want to permanently delete this location?' } %>