<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MapAddr</title>
  <meta name="description" content="MapAddr Rails App.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid <%= params[:controller] %>_controller">

  <!-- Login -->
  <%= render 'partials/login' %>

  <!-- Navbar -->
  <% if @has_navbar %>
    <div class="navvy">

      <h1>MapAddr</h1>

      <% if current_user %>
        <p>What up, <%= current_user.name %>!</p>
        [ <%= link_to 'Logout', session_path, method: :delete %> ]
        [ <%= link_to 'Account', edit_user_path(current_user.id) %> ]
      <% else %>
        <%= link_to 'Sign Up', welcome_path %> /
        <p><a data-toggle="modal" data-target="#login">Login</a></p>
      <% end %>

    </div>
  <% end %>
  
  <!-- Content -->
  <%= yield %>

</body>
</html>
